* {
  box-sizing: border-box;
}

body {
text-align: center;
font-family: 'Montserrat', sans-serif;

}

header {
height: 100vh;
}

nav {
  background-color: gray;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: 30px;
}

main {
  padding: 20%;
}

.project-section {
height: 250px;
width: 250px;
background-color: black;
margin-top: 40px;
margin-right: auto;
margin-left: auto;
}

.contact {
margin-top: 20px;
font-size: 20px;
}

.s-media {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items:center;
padding-top: 20px;
}

.s-icon {
height: 30px;
width: 30px;
background-color: black;
 display: flex;
}

@media (min-width: 1025px) {
  .bio {
    padding-right: 40%;
    padding-left: 40%;
  }
}

  @media (max-width: 768px) {
    nav {
      display: none;
    }
  }